$primary-brown: #161616;
$primary-beige: #ffffff;
$primary-white: white;
$primary-red : #29ac4a;
$primary-brown-opacity: rgba(66,36,12,20%);
$primary-beige-opacity: rgba(250, 185, 154, 40%);
$primary-pink: rgba(253, 186, 154, 65%);
$white: #ffff;
$primary-beige-light: #F2DED5;
$primary-brown-2: #c1e4ff97;
$primary-red-shadow : rgba(204, 61, 56, 50%);
$text-red: #9E322D;
$blue: rgb(75, 145, 238);
$black: black;
$primary-blue: #1c3566;
$primary-green: rgb(3, 72, 48);
$light-blue: #c1e4ff97;