@import '../../Styles/variables.scss';

.activity-card-main {
    background-color: $primary-brown-2;
    min-height: 300px;
    min-width: 300px;
    box-shadow: 2px 4px 4px rgb(134, 145, 149);
    border-radius: 30px;
    margin: 0px 30px;
    align-items: center;
    justify-content: center;
    display: 'flex';

    .activity-img-container{
        height: 60%;
        display: inline-block;
        width: 100%;
        border-radius: 10px;
        padding: 34px 20px 30px 65px;
    }
    .activity-stats-container{
        display: flex;
        margin-left: 15px;
        justify-content: center;
        .activity-stat {
            padding: 2px;
            .activity-stat-text{
                color: $black;
                padding: 4%;
                margin-top: 15px;
                font-weight: normal;
            }
        }
    }
}