@import '../../Styles/_variables.scss';
@import '../../Assets/Fonts/Fonts.scss';

.container{
    position: relative;
  }
  
  .backgroundImage{
    display: flex;
  }
  
  .searchBox{
    padding: 3%;
    font-size: 1.5em;
    color: $primary-beige-opacity;
  }
  
  .input {
    display:flex;
    justify-content: center;
    text-align: center;
    margin-left: 32%;
    padding: 10px;
    width: 35%;
    margin-bottom: 3%;
    font-size: 0.7em;
    color: $primary-beige;
    background-color: $primary-brown-opacity;
    border: 1px solid $primary-beige;
    border-radius: 4px;
    font-family: "SemiBold";
    &::placeholder{
      color: $primary-beige;
      background-color: none;
      font-size: 0.8em;
      font-family: "SemiBold";
    }
  }
  
  .currentTemp {
    font-size: 5rem;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  
  .currentWeather{
    width: 15%;
    justify-content: center;
    background-color: $primary-brown-opacity;
  }
  
  .currentWeatherDiv{
    justify-content: center;
    display: flex;
    margin-top: -50px;
  }
  
  .currentWeatherDetailsDiv{
    display:inline-flex;
    justify-content:center;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  .everydayWeather{
    width: 200px;
    margin: 2% 2%;
    background-color: $primary-brown-opacity;
  }
  
  .everydayWeatherDiv{
    justify-content:center;
    display: flex;
  }
  
  .maxTemp{
    font-size: 2.5em;
  }
  
  .minTemp{
    font-size: 1.5em;
    padding-top: 10%;
  }
  
  .pose-card {
    display: block;
    flex-wrap: wrap;
    width: 15%;
    margin: 10px;
    background-color: $light-blue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    height: flex;
  }
  
  .pose-card img {
    width: 190px;
    height: 200px;
    padding: 12px;
    border-radius: 8px 8px 0 0;
  }
  
  .pose-card-content {
    display: flexbox;
    padding: 6px;
  }
  
  .pose-card:hover .pose-card-content {
    display: block;
  }
  
  .pose-card h3 {
    display: flexbox;
    font-size: 1em;
    margin-top: 3px;
  }
  
  .pose-card p {
    margin: 0;
    font-size: 0.6em;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 3px;
  }
  